# Swift Package Manager build artifacts
.build/
.swiftpm/

# Xcode
*.xcodeproj
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
xcuserdata/
DerivedData/
*.moved-aside
*.xccheckout
*.xcscmblueprint

# macOS
.DS_Store
